/* h2{
    background-color:darkblue;
    color: whitesmoke;
    padding: 20px;
    margin-top:0px ;
    font-weight: 400px;
    font-size: 20px;
    margin-bottom:0px;
    flex: 1 1 auto;
} */
.example-spacer{
 flex: 1 1 auto; 
 margin-bottom: 2px;
}