
<!-- <div color="primary" id="header">
    <h2>Keep Note</h2>
    <div id="icons">
        <mat-icon>home</mat-icon>
        <mat-icon>apps</mat-icon>
        <mat-icon>settings</mat-icon>
    </div> -->
<!-- </div> -->
<mat-toolbar color="primary">
   <span>Keep Note</span>
   <span class="example-spacer"></span>
   
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">     
    <a routerLink="../home"> <mat-icon>home</mat-icon></a>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>apps</mat-icon>
    
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>settings</mat-icon>
    
    
  </button>
 </mat-toolbar>